*.dSYM
*.data
*.perf
*.old
*.csv
*.out
*.log
*.mpiP
*profiling.txt
perf.*
perf/
test.c
min
resize
vsum
vsum2
spmv
spmv2
jac1d
jac1d-ser
jac2d
jac2d-lb
jac2d-ser
jac3d
jac3d-lb
lb
lbpp
lbsmooth
test
markov-ser
markov
markov2
md
md-lb
md3d
md3d-lb
md2d_omp_simple
md2d_omp_task
md3d_omp_simple
md3d_omp_task
md-ser
md3d-ser
propagation1d
propagation2d
ping_pong
README-example
/raytracer
/raytracer.c
/raytracer_omp.cpp
/raytraceromp
/sqrtcalc
/sqrtcalc.c
/test.txt
/vsum3
*core*
logs/