*.dSYM
*.data
*.perf
*.old
*.csv
*.out
*.log
*.mpiP
*profiling.txt
perf.*
perf/
test.c
min
resize
vsum
vsum2
spmv
spmv2
jac1d
jac1d-ser
jac2d
jac2d-lb
jac2d-ser
jac3d
jac3d-ll
lb
test
markov-ser
markov
markov2
propagation1d
propagation2d
ping_pong
README-example
/raytracer
/raytracer.c
/raytracer_omp.cpp
/raytraceromp
/sqrtcalc
/sqrtcalc.c
/test.txt
/vsum3
*core*
logs/